/* 셀렉트 박스 css_class로 정리_complete */
.selector{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-repeat:no-repeat;
    background-position: right 5px top 20px;
    background-size: 10px 10px;
    color:white;
    padding:12px;
    width:200px;
    font-family:arial,tahoma;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-align:left;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius:3px;
    -webkit-border-radius:5px;
    -webkit-appearance: none;
    border:0;
    outline:0;
         -webkit-transition:0.3s ease all;
         -moz-transition:0.3s ease all;
          -ms-transition:0.3s ease all;
           -o-transition:0.3s ease all;
              transition:0.3s ease all;
  }
/* 셀렉트 박스와 동일_complete */
.buttoner{
  background-color:#0004ff;
  color:white;
  padding:12px;
  width:200px;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:5px;
  -webkit-appearance: none;
  border:0;
  outline:0;
        -webkit-transition:0.3s ease all;
        -moz-transition:0.3s ease all;
        -ms-transition:0.3s ease all;
          -o-transition:0.3s ease all;
            transition:0.3s ease all;

}
  #state1 {
    background-color:#ff0000;
  }
  
  #state1:hover {
    background-color:#ff00009f;
  }
  
  #city1 {
    background-color:#ffae00;
  }
  
  #city1:hover {
    background-color:#ffae008e;
  }
  
  #cur_wea {
    background-color:#2ECC71;
  }
  
  #cur_wea:hover {
    background-color:#2ecc7091;
  }

  select:focus, select:active {
    border:0;
    outline:0;
  }

#log_table_title{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);

 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #00ff95, #1100ff81);
  background: linear-gradient(to right, #190be460, #14e28c);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}

.Copyright {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.Copyright i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.Copyright a {
  color: #fff;
  text-decoration: none;
}
.Copyright a:hover {
  text-decoration: underline;
}
/* 스크롤바 custom */
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
/* bootstrap dropdown hover menu*/

/* body {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #4f5d6e;
  position: relative;
  background: rgb(26, 49, 95);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 49, 95, 1)), color-stop(10%, rgba(26, 49, 95, 1)), color-stop(24%, rgba(29, 108, 141, 1)), color-stop(37%, rgba(41, 136, 151, 1)), color-stop(77%, rgba(39, 45, 100, 1)), color-stop(90%, rgba(26, 49, 95, 1)), color-stop(100%, rgba(26, 49, 95, 1)));
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a315f', endColorstr='#1a315f', GradientType=0);
} */

nav {
  margin-top: 60px;
  box-shadow: 5px 4px 5px #000;
}
#home_title{
  margin-left: 20px; 
  margin-right: auto;
  text-emphasis: active;
  font-size: 25px;
}
.input_list{
  margin: 10px auto;
}
/* kakao overlay css > 작동안되는중 */
#kakao_label{
  text-size: 40px;
  color: rgb(255, 0, 0);
}
