board 페이지
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<body>
    <h3>입력값</h3>
    <br/>
    <table class="table table-dark table-striped">
        <tr>
            <td>현재 날씨</td>
            <td>도시</td>
            <td>지역구</td>
            <td>동/읍/리</td>
        </tr>
        {% for item in list %}
        <tr>
            <td>{{ item.id}}</td>
            <td>{{ item. }}</td><br>
        </tr>
        {% endfor %}
    </table>
</body>

<!-- 누가 요청들어오면 보내줄 깔끔한 코드 -->