<!DOCTYPE html>
<html>
<head>
    <style type="text/css"></style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="http://localhost:8000/home">Home</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/course">관광/데이트코스</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/mypage">내 정보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/logout">로그아웃</a>
          </li>
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">미구현</a>
              <a class="dropdown-item" href="#">미구현</a>
              <a class="dropdown-item" href="#">미구현</a>
            </div>
          </li>
        </ul>
      </nav>
      <br>
        
      <div class="container">
        <h3>Navbar With Dropdown</h3>
        <p>아직 구현중입니다.</p>
      </div>

      <div id="map" style="width:800px;height:400px;margin: auto;"></div>
      <script type="text/javascript"
          src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f98f6adb5864070de89a0c8e21bf7951"></script>
      <script>
  
          var container = document.getElementById('map'); //지도를 생성할공간
          var options = {
              center: new kakao.maps.LatLng(33.450701, 126.570667), //중심좌표
              level: 3
          };
  
          var map = new kakao.maps.Map(container, options); //지도생성
          
          var markerPosition  = new kakao.maps.LatLng(33.450701, 126.570667); //마커표시 위치 -> 딕셔너리로 수정예정
  
          // 마커를 생성
          var marker = new kakao.maps.Marker({
              position: markerPosition
          });
          
          marker.setMap(map);
      </script>

    <br/>
    <table class="table table-dark table-striped">
        <tr>
            <td>번호</td>
            <td>도시</td>
            <td>지역구</td>
            <td>동/읍/리</td>
            <td>현재 날씨</td>
            <!-- <td>등록 시간</td> -->
        </tr>
        {% for item in list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.state }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.street }}</td>
            <td>{{ item.cur_wea }}</td>
            <!-- <td>{{ item.pub_date }}</td><br> -->
        </tr>
        {% endfor %}
    </table>
</body>
