index 페이지
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        /* @import url("../../static/nalsiwoori/css/index.css"); */
    </style>
    <link rel="stylesheet" type="text/css" href="../../static/nalsiwoori/css/index.css">
</head>
<body>
    <ul>
      <li><a class="active" href="http://localhost:8000/index">Home</a></li>
      <li><a href="http://localhost:8000/board">오늘의 날씨 등록</a></li>
      <li><a href="#contact">1</a></li>
      <li><a href="nalsiwoori/style.css">11</a></li>
    </ul>
</body>
</html>
<script>

</script>